@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,700,700italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300italic,400,400italic,500,500italic,700,700italic);
/* Making the page responsive -------------------------------- */
/* Scale the font size -------------------------------- */
.wrapper.inner #header {
  height: auto; }
  .wrapper.inner #header .header-top {
    padding-top: 30px; }
    .wrapper.inner #header .header-top .logo {
      display: block;
      max-width: 110px;
      margin: 0 auto;
      margin-bottom: 10px; }
      .wrapper.inner #header .header-top .logo .svg-logo {
        max-width: 100%;
        height: 30px; }
        .wrapper.inner #header .header-top .logo .svg-logo .letter {
          fill: #3d474f;
          -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
      .wrapper.inner #header .header-top .logo:hover .svg-logo, .wrapper.inner #header .header-top .logo:focus .svg-logo {
        max-width: 100%;
        height: auto; }
        .wrapper.inner #header .header-top .logo:hover .svg-logo .letter, .wrapper.inner #header .header-top .logo:focus .svg-logo .letter {
          fill: #f94949; }
    .wrapper.inner #header .header-top .nav {
      position: static;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 1em; }
      .wrapper.inner #header .header-top .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
        font-size: 1.6em;
        line-height: 1.2;
        font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .wrapper.inner #header .header-top .nav ul li {
          margin-bottom: 0;
          margin-left: 4px;
          margin-right: 4px; }
          .wrapper.inner #header .header-top .nav ul li a {
            font-weight: 400;
            color: #3d474f;
            display: block;
            padding: 10px 12px;
            -webkit-transition: color 0.25s ease-in-out;
            transition: color 0.25s ease-in-out; }
            .wrapper.inner #header .header-top .nav ul li a:hover, .wrapper.inner #header .header-top .nav ul li a:focus {
              color: #f94949; }
          .wrapper.inner #header .header-top .nav ul li.active a {
            color: #f94949;
            font-weight: 500; }

#main.inner {
  background-color: #fff;
  height: auto;
  padding: 50px 20px;
  max-width: 1000px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    #main.inner {
      padding: 10% 3.125%; } }

#contact-footer {
  position: relative;
  background-color: #dbdfe3; }
  #contact-footer h1 {
    position: relative;
    text-align: center;
    font-size: 3.6em;
    line-height: 6;
    color: #3d474f;
    margin-bottom: 0;
    font-weight: 500; }
    @media (max-width: 1200px) {
      #contact-footer h1 {
        font-size: 3.4em; } }
    @media (max-width: 992px) {
      #contact-footer h1 {
        font-size: 3.2em; } }
    @media (max-width: 767px) {
      #contact-footer h1 {
        font-size: 2.8em; } }
    @media (max-width: 480px) {
      #contact-footer h1 {
        font-size: 2.4em; } }
    #contact-footer h1 a {
      font-weight: 300;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: block;
      background-color: #bec6cd;
      color: #f94949;
      -webkit-transition: top 0.25s ease-in-out, background 0.25s ease-in-out, color 2s ease;
      transition: top 0.25s ease-in-out, background 0.25s ease-in-out, color 2s ease; }
    #contact-footer h1:hover a,
    #contact-footer h1 a:focus {
      top: 0;
      background-color: #f94949;
      color: #fff; }
    @media (max-width: 768px) {
      #contact-footer h1 a {
        top: 0;
        background-color: transparent;
        color: transparent; } }

/*# sourceMappingURL=inner.css.map */