@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,700,700italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300italic,400,400italic,500,500italic,700,700italic);
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

abbr, acronym {
  border: 0; }

/* Making the page responsive -------------------------------- */
/* Scale the font size -------------------------------- */
.grid-row {
  margin-left: -1.6%;
  margin-right: -1.6%; }
  .grid-row * {
    box-sizing: border-box; }
  .grid-row:before, .grid-row:after {
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  position: relative;
  min-height: 1px;
  /*-- our gutter -- */
  padding-left: 1.6%;
  padding-right: 1.6%;
  margin-bottom: 3.2%; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 480px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 767px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9 {
    float: left; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-11 {
    width: 91.66666667%; }

  .col-xl-10 {
    width: 83.33333333%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-8 {
    width: 66.66666667%; }

  .col-xl-7 {
    width: 58.33333333%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-5 {
    width: 41.66666667%; }

  .col-xl-4 {
    width: 33.33333333%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-2 {
    width: 16.66666667%; }

  .col-xl-1 {
    width: 8.33333333%; }

  .col-xl-pull-12 {
    right: 100%; }

  .col-xl-pull-11 {
    right: 91.66666667%; }

  .col-xl-pull-10 {
    right: 83.33333333%; }

  .col-xl-pull-9 {
    right: 75%; }

  .col-xl-pull-8 {
    right: 66.66666667%; }

  .col-xl-pull-7 {
    right: 58.33333333%; }

  .col-xl-pull-6 {
    right: 50%; }

  .col-xl-pull-5 {
    right: 41.66666667%; }

  .col-xl-pull-4 {
    right: 33.33333333%; }

  .col-xl-pull-3 {
    right: 25%; }

  .col-xl-pull-2 {
    right: 16.66666667%; }

  .col-xl-pull-1 {
    right: 8.33333333%; }

  .col-xl-pull-0 {
    right: auto; }

  .col-xl-push-12 {
    left: 100%; }

  .col-xl-push-11 {
    left: 91.66666667%; }

  .col-xl-push-10 {
    left: 83.33333333%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-push-8 {
    left: 66.66666667%; }

  .col-xl-push-7 {
    left: 58.33333333%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-push-5 {
    left: 41.66666667%; }

  .col-xl-push-4 {
    left: 33.33333333%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-push-2 {
    left: 16.66666667%; }

  .col-xl-push-1 {
    left: 8.33333333%; }

  .col-xl-push-0 {
    left: auto; }

  .col-xl-offset-12 {
    margin-left: 100%; }

  .col-xl-offset-11 {
    margin-left: 91.66666667%; }

  .col-xl-offset-10 {
    margin-left: 83.33333333%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-8 {
    margin-left: 66.66666667%; }

  .col-xl-offset-7 {
    margin-left: 58.33333333%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-5 {
    margin-left: 41.66666667%; }

  .col-xl-offset-4 {
    margin-left: 33.33333333%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-2 {
    margin-left: 16.66666667%; }

  .col-xl-offset-1 {
    margin-left: 8.33333333%; }

  .col-xl-offset-0 {
    margin-left: 0; } }
body {
  background-color: #fff; }

.wrapper {
  overflow: hidden; }

.navigation {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 1000; }
  .navigation:after {
    content: "";
    display: block;
    clear: both; }
  .navigation .burger {
    float: left;
    width: 40px;
    height: 39px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease; }
    .navigation .burger span {
      display: block;
      width: 28px;
      height: 3px;
      background-color: #f94949;
      position: absolute;
      top: 18px;
      left: 6px;
      transition: all 0.5s ease; }
      .navigation .burger span:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f94949;
        position: absolute;
        top: -8px;
        left: 0;
        transition: all 0.5s ease; }
      .navigation .burger span:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f94949;
        position: absolute;
        bottom: -8px;
        left: 0;
        transition: all 0.5s ease; }
    .navigation .burger:hover span,
    .navigation .burger:hover span:before,
    .navigation .burger:hover span:after {
      background-color: #d50707; }
    .navigation .burger.active span {
      transform: translateX(-10px);
      background-color: transparent; }
      .navigation .burger.active span:before {
        transform: rotate(135deg);
        top: 0; }
      .navigation .burger.active span:after {
        transform: rotate(-135deg);
        bottom: 0; }
  .navigation .logo {
    width: 0;
    height: 39px;
    float: left;
    transition: width 0.25s ease-in-out;
    position: relative;
    overflow: hidden; }
    .navigation .logo .svg-logo {
      max-width: none;
      width: 110px;
      height: 30px;
      position: absolute;
      top: 4px;
      left: 0;
      opacity: 0;
      transition: opacity 1s ease-in-out; }
  .navigation ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0 0 0 22px;
    float: left;
    font-size: 1.6em;
    line-height: 39px;
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    animation-name: navVisibility;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    .navigation ul li {
      margin: 0;
      float: left;
      margin-right: 10px; }
      .navigation ul li a {
        display: block;
        padding: 0 12px;
        font-weight: 400; }
        .navigation ul li a:hover {
          color: #d50707; }
  .navigation.visible .burger {
    width: 0;
    opacity: 0; }
    .navigation.visible .burger span {
      width: 0; }
  .navigation.visible .logo {
    width: 110px; }
    .navigation.visible .logo .svg-logo {
      opacity: 1; }
  .navigation.visible ul {
    display: block; }
  .navigation.end {
    animation-name: navDisappear;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .navigation.scroll {
    animation-name: navDisappear;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-direction: reverse; }

.logo {
  display: block;
  width: 100%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  line-height: 0;
  color: transparent; }
  .logo .svg-logo {
    max-width: 100%;
    height: auto;
    overflow: visible; }
    .logo .svg-logo .letter {
      fill: #f94949; }

.back-to-top {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 20px;
  background-color: #f94949;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.25s ease;
  z-index: 500; }
  .back-to-top .text {
    display: block;
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 60px;
    color: #fff;
    opacity: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    transition: opacity 0.5s ease-in-out, width 0.25s ease, padding 0.25s ease; }
  .back-to-top .icon {
    display: block;
    float: right;
    width: 60px;
    font-size: 32px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    transition: font-size 0.25s ease; }
  .back-to-top:hover .text {
    opacity: 1;
    width: 80px;
    padding-left: 25px; }
  .back-to-top:hover .icon {
    font-size: 42px; }
  .back-to-top:active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    bottom: 18px; }

#header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 750; }
  #header > div.staroftheshow {
    flex-grow: 2;
    flex-shrink: 3;
    flex-basis: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background: url("/img/star-pic.jpg") no-repeat 50% 0;
    background-size: cover;
    overflow: hidden; }
    #header > div.staroftheshow h1 {
      color: #3d474f;
      font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 3.6em;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 0; }
      #header > div.staroftheshow h1 span {
        display: block;
        animation-name: fadeInUp;
        animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        opacity: 0; }
        #header > div.staroftheshow h1 span:first-child {
          animation-delay: 1s; }
        #header > div.staroftheshow h1 span.logo {
          padding: 30px 0; }
        #header > div.staroftheshow h1 span:last-child {
          animation-delay: 1.25s; }
  #header > div.invitation {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f94949; }
    #header > div.invitation p {
      font-size: 2.4em;
      color: #fff;
      animation-name: fadeIn;
      animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
      animation-delay: 0.8s;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      opacity: 0; }
    #header > div.invitation .calltoaction {
      animation-name: fadeIn;
      animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
      animation-delay: 0.9s;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      opacity: 0; }
      #header > div.invitation .calltoaction a.btn {
        font-size: 1.4em;
        line-height: 1.2857;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1em; }

#main {
  position: relative;
  height: 500vh;
  z-index: 500; }
  #main .scroll-target {
    background: transparent;
    width: 100vh;
    height: 100vh;
    z-index: 0; }
  #main .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: width 0.25s 0.2s;
    z-index: 500; }
    #main .map.fixed {
      position: fixed; }
    #main .map canvas {
      width: 100% !important;
      height: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10; }
    #main .map .graphics {
      position: absolute;
      top: -600px;
      left: -100px; }
      #main .map .graphics .polygon {
        fill: #353d4d; }
        #main .map .graphics .polygon.sweden {
          fill: #3f495c; }
        #main .map .graphics .polygon.germany {
          fill: #3f495c; }
        #main .map .graphics .polygon.mexico {
          fill: #3f495c; }
    #main .map .locator {
      opacity: 0;
      width: 10px;
      height: 10px;
      background-color: #f94949;
      position: fixed;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      margin: -5px 0 0 -5px;
      z-index: 20;
      transition: left 0.25s ease, opacity 0.2s ease; }
      #main .map .locator:after {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: -15px;
        left: -15px;
        background-color: #f94949;
        opacity: 0;
        transform: scale(0);
        transition: transform 0.25s ease, opacity 0.25s ease-in-out; }
      #main .map .locator.active:after {
        transform: scale(1);
        opacity: 0.3; }
      #main .map .locator .morph-content {
        transition: opacity 0.4s 0.1s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, right 0.4s 0.1s, background-color 0.4s 0.1s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        background-color: #f94949;
        z-index: 900;
        opacity: 0;
        width: 10px;
        height: 10px;
        pointer-events: none;
        position: fixed;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); }
        #main .map .locator .morph-content > div {
          width: 100%;
          height: 100%;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.1s, visibility 0s 0.1s;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          position: absolute;
          top: 0;
          left: 0; }
          #main .map .locator .morph-content > div.cuernavaca .header {
            background-image: linear-gradient(#d3d8e1, #353d4d 70%), url("/img/cuernavaca.jpg"); }
          #main .map .locator .morph-content > div.norrkoping .header {
            background-image: linear-gradient(#d3d8e1, #353d4d 70%), url("/img/norrkoping.jpg"); }
          #main .map .locator .morph-content > div.stockholm .header {
            background-image: linear-gradient(#d3d8e1, #353d4d 70%), url("/img/stockholm.jpg"); }
          #main .map .locator .morph-content > div.uppsala .header {
            background-image: linear-gradient(#d3d8e1, #353d4d 70%), url("/img/uppsala.jpg"); }
          #main .map .locator .morph-content > div.munich .header {
            background-image: linear-gradient(#d3d8e1, #353d4d 70%), url("/img/munich.jpg"); }
          #main .map .locator .morph-content > div .header {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: 0 0 40vh;
            width: 100%;
            padding: 20px;
            vertical-align: bottom;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            background-blend-mode: multiply;
            box-sizing: border-box; }
            #main .map .locator .morph-content > div .header .years {
              color: #fff;
              font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 1.6em;
              letter-spacing: 0.1em;
              margin: 0 0 0.4em 0;
              text-align: left; }
              @media (max-width: 1200px) {
                #main .map .locator .morph-content > div .header .years {
                  font-size: 1.568em; } }
              @media (max-width: 992px) {
                #main .map .locator .morph-content > div .header .years {
                  font-size: 1.536em; } }
              @media (max-width: 767px) {
                #main .map .locator .morph-content > div .header .years {
                  font-size: 1.44em; } }
              @media (max-width: 480px) {
                #main .map .locator .morph-content > div .header .years {
                  font-size: 1.376em; } }
            #main .map .locator .morph-content > div .header h2 {
              margin: 0;
              text-align: left;
              color: #fff;
              font-size: 2.8em; }
              @media (max-width: 1200px) {
                #main .map .locator .morph-content > div .header h2 {
                  font-size: 2.744em; } }
              @media (max-width: 992px) {
                #main .map .locator .morph-content > div .header h2 {
                  font-size: 2.688em; } }
              @media (max-width: 767px) {
                #main .map .locator .morph-content > div .header h2 {
                  font-size: 2.52em; } }
              @media (max-width: 480px) {
                #main .map .locator .morph-content > div .header h2 {
                  font-size: 2.408em; } }
          #main .map .locator .morph-content > div .location-info {
            flex: 2 0 auto;
            padding: 20px;
            box-sizing: border-box; }
            #main .map .locator .morph-content > div .location-info p {
              font-size: 1.5em; }
              @media (max-width: 1200px) {
                #main .map .locator .morph-content > div .location-info p {
                  font-size: 1.47em; } }
              @media (max-width: 992px) {
                #main .map .locator .morph-content > div .location-info p {
                  font-size: 1.44em; } }
              @media (max-width: 767px) {
                #main .map .locator .morph-content > div .location-info p {
                  font-size: 1.35em; } }
              @media (max-width: 480px) {
                #main .map .locator .morph-content > div .location-info p {
                  font-size: 1.29em; } }
          #main .map .locator .morph-content > div .location-footer {
            flex: 0 0 auto;
            padding: 15px 20px 20px 20px; }
            #main .map .locator .morph-content > div .location-footer .next-location {
              display: block;
              width: 100%;
              align-self: flex-end; }
      #main .map .locator.open {
        left: calc(50% - 180px);
        transition: left 0.25s; }
        #main .map .locator.open .morph-content {
          top: 0 !important;
          right: 0 !important;
          width: 360px;
          height: 100%;
          overflow: auto;
          opacity: 1;
          background-color: #fff;
          pointer-events: auto;
          -webkit-backface-visibility: hidden;
          transition: opacity 0.3s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, right 0.4s 0.1s, background-color 0.4s; }
          #main .map .locator.open .morph-content > div {
            overflow: auto; }
        #main .map .locator.open.cuernavaca .morph-content > div.cuernavaca {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.3s 0.5s; }
        #main .map .locator.open.norrkoping .morph-content > div.norrkoping {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.3s 0.5s; }
        #main .map .locator.open.stockholm .morph-content > div.stockholm {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.3s 0.5s; }
        #main .map .locator.open.uppsala .morph-content > div.uppsala {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.3s 0.5s; }
        #main .map .locator.open.munich .morph-content > div.munich {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.3s 0.5s; }
    #main .map.open {
      width: calc(100vw - 360px);
      transition: width 0.25s; }

.index-footer {
  z-index: 1000;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b313e; }
  .index-footer .logo {
    padding-bottom: 30px; }
  .index-footer p {
    font-size: 3.6em;
    text-align: center;
    color: #f94949;
    max-width: 100%; }
  .index-footer ul {
    padding: 0;
    list-style: none;
    text-align: center; }
    .index-footer ul li {
      display: inline-block;
      margin: 0 12px; }
      .index-footer ul li a {
        font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        display: block;
        color: #fff;
        background-color: #3f495c;
        padding: 0.6em 1.2em;
        border-radius: 3px; }
        .index-footer ul li a:hover {
          background-color: #4a556b; }

.nicer-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background-color: #fff;
  pointer-events: none;
  animation-delay: 1s;
  animation-name: splashOverlay;
  animation-duration: 1s;
  animation-fill-mode: forwards; }
  .nicer-splash .logo {
    position: absolute;
    display: block;
    width: 440px;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -220px;
    animation-delay: 0.5s;
    animation-name: splashLogo;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
    .nicer-splash .logo .svg-logo {
      width: 100%;
      height: auto; }
      .nicer-splash .logo .svg-logo .letter {
        fill: #f94949; }

.scroll-icon {
  display: none;
  z-index: 999;
  position: fixed;
  left: 4vw;
  bottom: 4vw;
  width: 40px;
  height: 70px;
  box-shadow: inset 0 0 0 1px #2b313e;
  border-radius: 25px; }
  .scroll-icon:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    background: #2b313e;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll; }

@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(46px); } }
.credits {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 755; }
  .credits .credit-toggle {
    font-size: 1.8em;
    line-height: 30px;
    padding: 0;
    width: 30px;
    border-radius: 0;
    box-shadow: none;
    color: rgba(249, 73, 73, 0.5); }
    .credits .credit-toggle:hover, .credits .credit-toggle:focus {
      background-color: transparent;
      color: #f94949; }
  .credits .credit-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: #fff;
    border-radius: 3px;
    padding: 1.4em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); }
    .credits .credit-dropdown:active, .credits .credit-dropdown:focus {
      display: block; }
    .credits .credit-dropdown p {
      font-size: 1.3em;
      text-align: left;
      color: #3d474f; }
  .credits .credit-toggle:focus + .credit-dropdown {
    display: block; }

@keyframes splashLogo {
  0% {
    opacity: 1;
    width: 440px;
    top: 50%;
    margin: -60px 0 0 -220px; }
  100% {
    opacity: 0;
    width: 375px;
    top: 30%;
    margin: -51px 0 0 -187.5px; } }
@keyframes splashOverlay {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.showcase-items {
  margin-top: 2.5em; }
  .showcase-items .showcase-item {
    padding: 2em 1em;
    border: 2px solid #dbdfe3;
    border-radius: 2px;
    margin-bottom: 2em;
    cursor: pointer;
    position: relative;
    transition: background 0.25s ease, border 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
    background-color: #fff; }
    .showcase-items .showcase-item .sc-project-type {
      position: relative;
      text-align: center; }
      .showcase-items .showcase-item .sc-project-type p {
        font-weight: 400;
        font-size: 1.6em;
        line-height: 1.2;
        color: #53616c;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        transition: color 0.25s ease; }
        @media (max-width: 1200px) {
          .showcase-items .showcase-item .sc-project-type p {
            font-size: 1.5em; } }
        @media (max-width: 992px) {
          .showcase-items .showcase-item .sc-project-type p {
            font-size: 1.5em; } }
        @media (max-width: 767px) {
          .showcase-items .showcase-item .sc-project-type p {
            font-size: 1.4em; } }
        @media (max-width: 480px) {
          .showcase-items .showcase-item .sc-project-type p {
            font-size: 1.4em; } }
    .showcase-items .showcase-item .sc-project-title {
      text-align: center;
      position: relative; }
      .showcase-items .showcase-item .sc-project-title h2 {
        display: inline-block;
        color: #3d474f;
        margin-top: 0.5em;
        margin-bottom: 0;
        transition: color 0.25s ease; }
    .showcase-items .showcase-item .sc-item-more {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .showcase-items .showcase-item .sc-item-more a.btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        line-height: 0;
        box-shadow: none;
        background: none; }
    .showcase-items .showcase-item:hover {
      background-color: #f94949;
      border-color: #f94949;
      transform: translateY(-6px);
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15); }
      .showcase-items .showcase-item:hover .sc-project-type p {
        color: #fff; }
      .showcase-items .showcase-item:hover .sc-project-title h2 {
        color: #fff; }
      .showcase-items .showcase-item:hover:before, .showcase-items .showcase-item:hover:after {
        background-color: #f94949; }
    .showcase-items .showcase-item:active {
      background-color: #f83030;
      border-color: #f83030;
      transform: translateY(0);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      transition: background 0.06s ease, border 0.06s ease, box-shadow 0.06s ease, transform 0.06s ease; }

/*
.showcase-items {
	margin-top: 2.5em;
	
	.showcase-item {
		box-shadow: 0 1px 2px rgba(0,0,0,0.25);
		
		@include responsive(smartphone) {
			padding-bottom: 3em;
			margin-left: -3.3%;
			margin-right: -3.3%;
		}
		
		.sc-item-ss {
			position: relative;
		}
		
		.sc-project-type {
			position: relative;
			text-align: center;
			padding: 0.5em 1em 0.4em 1em;
			margin-top: -1px;
			border-top: 1px solid rgba(0,0,0,0.08);
			border-bottom: 1px solid lighten($color-grey, 65%);
			
			p {
				font-weight: 700;
				@include scaleFontManual(1.1em, 1.1em, 1em, 0.9em, 1em);
				line-height: 1.2;
				color: lighten($color-grey, 20%);
				text-transform: uppercase;
				letter-spacing: 0.1em;
				margin-bottom: 0;
			}
		}
		
		.sc-project-title {
			text-align: center;
			position: relative;
			height: 120px;
			font-size: 0;
			
			h2 {
				display: inline-block;
				@include scaleFontManual(18px, 16px, 15px, 16px, 20px);
				color: $color-grey;
				margin-bottom: 0; 
				padding: 1em 0;
				vertical-align: middle;
				
				@include responsive(smartphone) {
					padding: 0 1em;
				}
			}
			
			&:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
		}
		
		.sc-item-more {
			text-align: center;
			border-top: 1px solid lighten($color-grey, 65%);
			padding: 0.8em;
			
			a.btn {
				@include scaleFont(1.6em);	
				padding-top: 0.6em;
				padding-bottom: 0.6em;
			}
		}
	}
} */
.project-details {
  margin-top: 4em;
  display: none;
  padding-left: 999px;
  padding-right: 999px;
  padding-bottom: 4em;
  margin-left: -999px;
  margin-right: -999px;
  background: linear-gradient(to bottom, #f8f9f9 0%, #fff 8%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }
  .project-details .project-header {
    padding-top: 3em;
    position: relative;
    margin-bottom: 5em; }
    .project-details .project-header h1 {
      margin-right: 60px;
      margin-bottom: 0; }
    .project-details .project-header .close-project {
      font-size: 48px;
      line-height: 50px;
      color: #f94949;
      text-align: center;
      width: 50px;
      border-radius: 12px;
      cursor: pointer;
      float: right; }
      .project-details .project-header .close-project:before {
        content: "\f404";
        font-family: 'Ionicons'; }
      .project-details .project-header .close-project:hover, .project-details .project-header .close-project:focus {
        color: #f71818;
        background-color: #f8f9f9; }
      .project-details .project-header .close-project:focus, .project-details .project-header .close-project:active {
        color: #ee0808; }
  .project-details h2.category-title {
    font-size: 1.6em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #f94949;
    margin-bottom: 0.3em; }

.cv-blocks > [class*='col-'] {
  margin-bottom: 5em; }
@media (max-width: 480px) {
  .cv-blocks > [class*='col-'] {
    margin-bottom: 1em; }
  .cv-blocks > [class*='col-']:last-child {
    margin-bottom: 3em; } }
.cv-blocks a {
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease, color 0.2s ease; }
  .cv-blocks a:hover, .cv-blocks a:focus {
    color: #d50707;
    border-bottom-color: #d50707; }

.upcoming {
  display: inline-block;
  padding: 0 3px;
  position: relative;
  left: -3px;
  cursor: default; }
  .upcoming:after {
    content: "Coming soon";
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    margin-top: -4px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    color: #f94949;
    white-space: nowrap; }
  .upcoming:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% + 1px);
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #f94949; }

.position {
  margin-bottom: 9%; }
  .position > div {
    display: flex; }
    .position > div .logo {
      flex: 15% 1 1;
      display: flex;
      align-items: flex-start; }
      .position > div .logo img {
        margin: 10px 0; }
      @media (max-width: 480px) {
        .position > div .logo {
          display: none; } }
    .position > div .details {
      flex: 85% 1 1;
      padding-right: 3.5%; }
      @media (max-width: 480px) {
        .position > div .details {
          padding-right: 0; } }
      .position > div .details .header .name {
        display: inline-block; }
        .position > div .details .header .name h1 {
          font-size: 2.6em;
          font-weight: 500;
          color: #3d474f;
          margin-bottom: 0.1em;
          margin-right: 0.3em; }
          @media (max-width: 1200px) {
            .position > div .details .header .name h1 {
              font-size: 2.548em; } }
          @media (max-width: 992px) {
            .position > div .details .header .name h1 {
              font-size: 2.496em; } }
          @media (max-width: 767px) {
            .position > div .details .header .name h1 {
              font-size: 2.34em; } }
          @media (max-width: 480px) {
            .position > div .details .header .name h1 {
              font-size: 2.236em; } }
      .position > div .details .header .role {
        display: inline-block; }
        .position > div .details .header .role p {
          font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 1.6em;
          color: #5e6e7a;
          margin-bottom: 0.15em; }
          @media (max-width: 1200px) {
            .position > div .details .header .role p {
              font-size: 1.568em; } }
          @media (max-width: 992px) {
            .position > div .details .header .role p {
              font-size: 1.536em; } }
          @media (max-width: 767px) {
            .position > div .details .header .role p {
              font-size: 1.44em; } }
          @media (max-width: 480px) {
            .position > div .details .header .role p {
              font-size: 1.376em; } }
      .position > div .details .header .period p {
        font-size: 1.4em;
        color: #768795;
        font-weight: 600; }
        @media (max-width: 1200px) {
          .position > div .details .header .period p {
            font-size: 1.372em; } }
        @media (max-width: 992px) {
          .position > div .details .header .period p {
            font-size: 1.344em; } }
        @media (max-width: 767px) {
          .position > div .details .header .period p {
            font-size: 1.26em; } }
        @media (max-width: 480px) {
          .position > div .details .header .period p {
            font-size: 1.204em; } }
      .position > div .details .description {
        margin-top: 1.5em; }
        .position > div .details .description p {
          font-size: 1.5em;
          margin-bottom: 0; }
          @media (max-width: 1200px) {
            .position > div .details .description p {
              font-size: 1.47em; } }
          @media (max-width: 992px) {
            .position > div .details .description p {
              font-size: 1.44em; } }
          @media (max-width: 767px) {
            .position > div .details .description p {
              font-size: 1.35em; } }
          @media (max-width: 480px) {
            .position > div .details .description p {
              font-size: 1.29em; } }
        .position > div .details .description .activity {
          margin-top: 2em;
          padding-top: 1.5em;
          padding-right: 1%;
          border-top: 1px solid #dbdfe3; }
          .position > div .details .description .activity:first-child {
            margin-top: 0; }
          .position > div .details .description .activity.hidden {
            display: none; }
          .position > div .details .description .activity h2 {
            font-size: 1.7em;
            color: #323a41;
            font-weight: 500;
            margin-bottom: 0;
            margin-right: 1em;
            display: inline-block; }
            @media (max-width: 1200px) {
              .position > div .details .description .activity h2 {
                font-size: 1.666em; } }
            @media (max-width: 992px) {
              .position > div .details .description .activity h2 {
                font-size: 1.632em; } }
            @media (max-width: 767px) {
              .position > div .details .description .activity h2 {
                font-size: 1.53em; } }
            @media (max-width: 480px) {
              .position > div .details .description .activity h2 {
                font-size: 1.462em; } }
          .position > div .details .description .activity p,
          .position > div .details .description .activity ul,
          .position > div .details .description .activity ol {
            font-size: 1.4em; }
            @media (max-width: 1200px) {
              .position > div .details .description .activity p,
              .position > div .details .description .activity ul,
              .position > div .details .description .activity ol {
                font-size: 1.372em; } }
            @media (max-width: 992px) {
              .position > div .details .description .activity p,
              .position > div .details .description .activity ul,
              .position > div .details .description .activity ol {
                font-size: 1.344em; } }
            @media (max-width: 767px) {
              .position > div .details .description .activity p,
              .position > div .details .description .activity ul,
              .position > div .details .description .activity ol {
                font-size: 1.26em; } }
            @media (max-width: 480px) {
              .position > div .details .description .activity p,
              .position > div .details .description .activity ul,
              .position > div .details .description .activity ol {
                font-size: 1.204em; } }
            .position > div .details .description .activity p.period,
            .position > div .details .description .activity ul.period,
            .position > div .details .description .activity ol.period {
              font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 1.2em;
              color: #768795;
              display: inline-block;
              margin-bottom: 0.8em; }
              @media (max-width: 1200px) {
                .position > div .details .description .activity p.period,
                .position > div .details .description .activity ul.period,
                .position > div .details .description .activity ol.period {
                  font-size: 1.176em; } }
              @media (max-width: 992px) {
                .position > div .details .description .activity p.period,
                .position > div .details .description .activity ul.period,
                .position > div .details .description .activity ol.period {
                  font-size: 1.152em; } }
              @media (max-width: 767px) {
                .position > div .details .description .activity p.period,
                .position > div .details .description .activity ul.period,
                .position > div .details .description .activity ol.period {
                  font-size: 1.08em; } }
              @media (max-width: 480px) {
                .position > div .details .description .activity p.period,
                .position > div .details .description .activity ul.period,
                .position > div .details .description .activity ol.period {
                  font-size: 1.032em; } }

.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #999;
  font-size: 14px;
  text-align: center; }
  .chart span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#main.inner.contact {
  padding-bottom: 0; }
  #main.inner.contact > p {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; }

.contact-form {
  padding: 40px 0 0 0;
  margin-top: 40px;
  background-color: #dbdfe3; }
  .contact-form .centered {
    max-width: 1000px;
    padding: 0 3.125%;
    margin: 0 auto 30px auto; }
  .contact-form p {
    line-height: 2.4;
    text-align: center;
    margin: 0 auto 2em auto;
    max-width: 800px; }
  .contact-form input[type="text"] {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    background: none;
    -webkit-appearance: none;
    border-bottom: 1px solid #a1adb7;
    border-radius: 0;
    padding: 0 3px;
    margin: 0 4px; }
    @media (max-width: 1200px) {
      .contact-form input[type="text"] {
        font-size: 17.64px; } }
    @media (max-width: 992px) {
      .contact-form input[type="text"] {
        font-size: 17.28px; } }
    @media (max-width: 767px) {
      .contact-form input[type="text"] {
        font-size: 16.2px; } }
    @media (max-width: 480px) {
      .contact-form input[type="text"] {
        font-size: 15.48px; } }
    .contact-form input[type="text"]:focus {
      border-color: #f94949; }
  .contact-form select {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.8;
    background: none;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-color: #bec6cd #bec6cd #a1adb7 #bec6cd;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0 16px 0 4px;
    margin: 0 4px;
    background: url("/img/select.png") no-repeat calc(100% - 4px) 50%;
    background-image: url("/img/select.svg"), none; }
    @media (max-width: 1200px) {
      .contact-form select {
        font-size: 17.64px; } }
    @media (max-width: 992px) {
      .contact-form select {
        font-size: 17.28px; } }
    @media (max-width: 767px) {
      .contact-form select {
        font-size: 16.2px; } }
    @media (max-width: 480px) {
      .contact-form select {
        font-size: 15.48px; } }
    .contact-form select:focus {
      color: #f94949;
      border-color: #f94949; }
  .contact-form textarea {
    width: 100%;
    max-width: 1000px;
    height: 30vh;
    font-size: 21px;
    font-weight: 600;
    color: #a1adb7;
    padding: 10px;
    background: none;
    border: 1px solid #b8c1c8;
    box-sizing: border-box;
    resize: vertical;
    -webkit-appearance: none;
    margin: 0 auto; }
    @media (max-width: 1200px) {
      .contact-form textarea {
        font-size: 20.58px; } }
    @media (max-width: 992px) {
      .contact-form textarea {
        font-size: 20.16px; } }
    @media (max-width: 767px) {
      .contact-form textarea {
        font-size: 18.9px; } }
    @media (max-width: 480px) {
      .contact-form textarea {
        font-size: 18.06px; } }
    .contact-form textarea:hover {
      border-color: #a1adb7; }
    .contact-form textarea:focus {
      color: #3d474f;
      border-color: #f94949; }
    .contact-form textarea.filled {
      color: #3d474f; }
  .contact-form input[type="submit"] {
    padding: 50px 0;
    margin-top: 20px;
    background: #f94949;
    border: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 2.4em;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none; }
    @media (max-width: 1200px) {
      .contact-form input[type="submit"] {
        font-size: 2.352em; } }
    @media (max-width: 992px) {
      .contact-form input[type="submit"] {
        font-size: 2.304em; } }
    @media (max-width: 767px) {
      .contact-form input[type="submit"] {
        font-size: 2.16em; } }
    @media (max-width: 480px) {
      .contact-form input[type="submit"] {
        font-size: 2.064em; } }
    .contact-form input[type="submit"]:hover, .contact-form input[type="submit"]:focus {
      background-color: #fa6262; }
    .contact-form input[type="submit"]:active {
      background-color: #f71818; }

::selection {
  background-color: #f71818;
  color: #FFF; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 62.5%; }

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #3d474f; }

/* ==== Typography
===================================-------------- */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin: 1.2em 0 0.6em 0; }
  h2:first-child, h2 + h2, h2 + h3, h2 + h4, h2 + h5,
  h3:first-child,
  h3 + h2,
  h3 + h3,
  h3 + h4,
  h3 + h5,
  h4:first-child,
  h4 + h2,
  h4 + h3,
  h4 + h4,
  h4 + h5,
  h5:first-child,
  h5 + h2,
  h5 + h3,
  h5 + h4,
  h5 + h5,
  h6:first-child,
  h6 + h2,
  h6 + h3,
  h6 + h4,
  h6 + h5 {
    margin-top: 0; }

h1 {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.2em;
  line-height: 1.2;
  font-weight: 300;
  color: #f94949;
  margin-bottom: 1em; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 4.116em; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 4.032em; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 3.78em; } }
  @media (max-width: 480px) {
    h1 {
      font-size: 3.612em; } }

h2 {
  font-size: 3em;
  font-weight: 400;
  color: #f94949; }
  @media (max-width: 1200px) {
    h2 {
      font-size: 2.94em; } }
  @media (max-width: 992px) {
    h2 {
      font-size: 2.88em; } }
  @media (max-width: 767px) {
    h2 {
      font-size: 2.7em; } }
  @media (max-width: 480px) {
    h2 {
      font-size: 2.58em; } }

h3 {
  font-size: 2.6em;
  font-weight: 400;
  color: #f94949; }
  @media (max-width: 1200px) {
    h3 {
      font-size: 2.548em; } }
  @media (max-width: 992px) {
    h3 {
      font-size: 2.496em; } }
  @media (max-width: 767px) {
    h3 {
      font-size: 2.34em; } }
  @media (max-width: 480px) {
    h3 {
      font-size: 2.236em; } }

h4 {
  font-size: 2.3em;
  font-weight: 500; }
  @media (max-width: 1200px) {
    h4 {
      font-size: 2.254em; } }
  @media (max-width: 992px) {
    h4 {
      font-size: 2.208em; } }
  @media (max-width: 767px) {
    h4 {
      font-size: 2.07em; } }
  @media (max-width: 480px) {
    h4 {
      font-size: 1.978em; } }

h5 {
  font-size: 2em;
  font-weight: 700; }
  @media (max-width: 1200px) {
    h5 {
      font-size: 1.96em; } }
  @media (max-width: 992px) {
    h5 {
      font-size: 1.92em; } }
  @media (max-width: 767px) {
    h5 {
      font-size: 1.8em; } }
  @media (max-width: 480px) {
    h5 {
      font-size: 1.72em; } }

p {
  font-size: 1.8em;
  line-height: 1.5;
  margin-bottom: 1em; }
  @media (max-width: 1200px) {
    p {
      font-size: 1.764em; } }
  @media (max-width: 992px) {
    p {
      font-size: 1.728em; } }
  @media (max-width: 767px) {
    p {
      font-size: 1.62em; } }
  @media (max-width: 480px) {
    p {
      font-size: 1.548em; } }
  p.lead {
    font-size: 2.1em; }
    @media (max-width: 1200px) {
      p.lead {
        font-size: 2.058em; } }
    @media (max-width: 992px) {
      p.lead {
        font-size: 2.016em; } }
    @media (max-width: 767px) {
      p.lead {
        font-size: 1.89em; } }
    @media (max-width: 480px) {
      p.lead {
        font-size: 1.806em; } }
  p.small-label {
    font-size: 1.5em;
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-bottom: 0.6em;
    color: #f94949;
    padding-top: 0.3em; }
    @media (max-width: 1200px) {
      p.small-label {
        font-size: 1.47em; } }
    @media (max-width: 992px) {
      p.small-label {
        font-size: 1.44em; } }
    @media (max-width: 767px) {
      p.small-label {
        font-size: 1.35em; } }
    @media (max-width: 480px) {
      p.small-label {
        font-size: 1.29em; } }
    @media (max-width: 480px) {
      p.small-label {
        margin-bottom: 0.5em; } }
  p:last-child {
    margin-bottom: 0; }
  p a {
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: border 0.2s ease, color 0.2s ease; }
    p a:hover, p a:focus {
      color: #f94949;
      border-bottom-color: #f94949; }

ol, ul {
  font-size: 1.8em;
  line-height: 1.5;
  margin-bottom: 1em;
  list-style-position: outside;
  padding-left: 1em; }
  @media (max-width: 1200px) {
    ol, ul {
      font-size: 1.764em; } }
  @media (max-width: 992px) {
    ol, ul {
      font-size: 1.728em; } }
  @media (max-width: 767px) {
    ol, ul {
      font-size: 1.62em; } }
  @media (max-width: 480px) {
    ol, ul {
      font-size: 1.548em; } }
  ol li, ul li {
    margin-bottom: 0.5em; }
  ol a, ul a {
    font-weight: 500; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

ol ol, ul ul, ol ul, ul ol {
  font-size: 0.92em; }

em {
  font-style: italic; }

strong {
  font-weight: 700;
  font-style: inherit; }

a {
  text-decoration: none;
  color: #f94949; }
  a.btn {
    display: inline-block;
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.125;
    font-weight: 400;
    color: #f94949;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 1em 1.5625em;
    border: none;
    border-radius: 1.5625em;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: background 0.25s ease, color 0.25s ease, box-shadow 0.25s ease; }
    a.btn:hover, a.btn:focus {
      color: #fff;
      background-color: #f94e4e;
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 2px 4px rgba(0, 0, 0, 0.25); }
    a.btn:active {
      color: #fff;
      background-color: #f94949;
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.15); }

button {
  display: inline-block;
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  line-height: 1.125;
  font-weight: 400;
  color: #f94949;
  text-align: center;
  letter-spacing: 0.05em;
  background-color: transparent;
  padding: 1em 1.5625em;
  border: none;
  border-radius: 1.5625em;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  transition: background 0.25s ease, color 0.25s ease, box-shadow 0.25s ease; }
  button:hover, button:focus {
    color: #fff;
    background-color: #f94e4e;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer; }
  button:active {
    color: #fff;
    background-color: #f94949;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.15); }

img {
  max-width: 100%;
  vertical-align: top; }

.nowrap {
  white-space: nowrap; }
