.showcase-items {
	padding-top: 2.5em;
	margin-top: 4em;
	border-top: 1px solid lighten($color-dark-blue, 65%);
	
	.showcase-item {
		
		.sc-item-ss {
			position: relative;
			margin-bottom: 1em;
			border-radius: 2px;
			
			&:before {
				content: "";
				display: block;
				box-sizing: border-box;
				border: 1px solid rgba(0,0,0,0.1);
				border-radius: 2px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
		
		.sc-project-type {
			text-align: center;
			margin-bottom: 1em;
			
			p {
				font-weight: 700;
				font-size: 1.2em;
				color: lighten($color-grey, 25%);
				text-transform: uppercase;
				letter-spacing: 0.05em;
				margin-bottom: 0;
			}
		}
		
		.sc-project-title {
			text-align: center;
			margin-bottom: 2em;
			
			h2 {
				font-size: 2.1em;
				color: $color-grey;
				margin-bottom: 0; 
			}
		}
		
		.sc-item-more {
			text-align: center;
		}
	}
}