.showcase-items {
	margin-top: 2.5em;
	
	.showcase-item {
		box-shadow: 0 1px 2px rgba(0,0,0,0.25);
		
		@include responsive(smartphone) {
			padding-bottom: 3em;
			margin-left: -3.3%;
			margin-right: -3.3%;
		}
		
		.sc-item-ss {
			position: relative;
			margin-bottom: 1.2em;
			border-radius: 2px;
		}
		
		.sc-project-type {
			text-align: center;
			margin-bottom: 1em;
			
			p {
				display: inline-block;
				font-weight: 700;
				@include scaleFontManual(1.1em, 1.1em, 1em, 0.9em, 1em);
				line-height: 1.2;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				margin-bottom: 0;
				padding: 0.5em 1em 0.4em 1em;
				border-radius: 2em;
				background-color: lighten($color-dark-blue, 35%);
			}
		}
		
		.sc-project-title {
			text-align: center;
			margin-bottom: 2em;
			
			h2 {
				@include scaleFontManual(2.1em, 2.1em, 1.8em, 1.6em, 2em);
				color: $color-grey;
				margin-bottom: 0; 
				
				@include responsive(smartphone) {
					padding: 0 1em;
				}
			}
		}
		
		.sc-item-more {
			text-align: center;
			
			a.btn {
				@include scaleFont(1.6em);	
			}
		}
	}
}

.project-details {
	margin-top: 4em;
	display: none;
	
	.project-header {
		border-top: 2px solid $color-main;
		border-radius: 1px 1px;
		padding-top: 15px;
		position: relative;
		margin-bottom: 5em;
		
		h1 {
			margin-right: 60px;
			margin-bottom: 0;
		}
		
		.close-project {
			font-size: 48px;
			line-height: 50px;
			color: $color-main;
			text-align: center;
			width: 50px;
			border-radius: 12px;
			position: absolute;
			top: 15px;
			right: 0;
			cursor: pointer;
			
			&:before {
				content: "\f404";
				font-family: 'Ionicons';
			}
			
			&:hover,
			&:focus {
				color: darken($color-main, 10%);
				background-color: lighten($color-grey, 70%);
			}
			
			&:focus,
			&:active {
				color: darken($color-main, 15%);
			}
		}
	}
	
	h2 {
		
		&.category-title {
			font-size: 1.6em;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			padding-bottom: 0.2em;
			border-bottom: 1px solid $color-main;
			margin-bottom: 0.3em;
		}
	}
}