
body {
	background-color: #fff;
}

.wrapper {
	overflow: hidden;
}

.navigation {
	position: fixed;
	top: 15px;
	left: 20px;
	z-index: 1000;
	
	@include responsive(smartphone) {
	    top: 10px;
	    left: 10px;
    }
	
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	
	.burger {
		float: left;
		width: 40px;
		height: 39px;
		position: relative;
		cursor: pointer;
		transition: all 0.5s ease;
		
		span {
			display: block;
			width: 28px;
			height: 3px;
			background-color: $color-main;
			position: absolute;
			top: 18px;
			left: 6px;
			transition: all 0.5s ease;
			
			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background-color: $color-main;
				position: absolute;
				top: -8px;
				left: 0;
				transition: all 0.5s ease;
			}
			
			&:after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background-color: $color-main;
				position: absolute;
				bottom: -8px;
				left: 0;
				transition: all 0.5s ease;
			}
		}
		
		&:hover {
			
			span,
			span:before,
			span:after {
				background-color: darken($color-main, 20%);
			}
		}
		
		&.active {
			
			span {
				transform: translateX(-10px);
				background-color: transparent;
				
				&:before {
					transform: rotate(135deg);
					top: 0;
				}
				
				&:after {
					transform: rotate(-135deg);
					bottom: 0;
				}
			}
		}
	}
	
	.logo {
		width: 0;
		height: 39px;
		float: left;
		transition: width 0.25s ease-in-out;
		position: relative;
		overflow: hidden;
		
		.svg-logo {
			max-width: none;
			width: 110px;
			height: 30px;
			position: absolute;
			top: 4px;
			left: 0;
			opacity: 0;
			transition: opacity 1s ease-in-out;
		}
		
		@include responsive(smartphone) {
			display: none;
		}
	}
	
	ul {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0 0 0 22px;
		float: left;
		font-size: 1.6em;
		line-height: 39px;
		font-family: $font-heading;
		animation-name: navVisibility;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		
		li {
			margin: 0;
			float: left;
			margin-right: 10px;
			
			a {
				display: block;
				padding: 0 12px;
				font-weight: 400;
				
				&:hover {
					color: darken($color-main, 20%);
				}
			}
		}
		
		@include responsive(minipc) {
			
			li {
				margin-right: 5px;
				
				a {
					padding: 0 6px;
				}
			}
		}
		
		@include responsive(smartphone) {
		    margin-left: 0;
		    
		    li {
			    margin-right: 10px;
			    
			    a {
				    padding: 0 8px;
				    font-weight: 500;
			    }
		    }
	    }
	}
	
	&.visible {
		
		.burger {
			width: 0;
			opacity: 0;
			
			span {
				width: 0;
			}
		}
		
		.logo {
			width: 110px;
			
			.svg-logo {
				opacity: 1;
			}
		}
		
		ul {
			display: block;
		}
	}
	
	&.end {
		animation-name: navDisappear;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	
	&.scroll {
		animation-name: navDisappear;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		animation-direction: reverse;
	}
}

.logo {
	display: block;
	width: 100%;
	max-width: 440px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
	line-height: 0;
	color: transparent;
	
	.svg-logo {
		max-width: 100%;
		height: auto;
		overflow: visible;
		
		.letter {
			fill: $color-main;
		}	
	}
	
	@include responsive(tablet) {
		max-width: 360px;
	}
	
	@include responsive(smartphone) {
		max-width: 290px;
	}
}


.back-to-top {
	display: none;
	position: fixed;
	right: 15px;
	bottom: 20px;
	background-color: $color-main;
	height: 60px;
	border-radius: 30px;
	box-shadow: 0 6px 16px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: all 0.25s ease;
	z-index: 500;
	
	.text {
		display: block;
		font-family: $font-heading;
		font-size: 1.5em;
		line-height: 60px;
		color: #fff;
		opacity: 0;
		width: 0;
		padding: 0;
		overflow: hidden;
		float: left;
		transition: opacity 0.5s ease-in-out, width 0.25s ease, padding 0.25s ease;
	}
	
	.icon {
		display: block;
		float: right;
		width: 60px;
		font-size: 32px;
		line-height: 60px;
		color: #fff;
		text-align: center;
		transition: font-size 0.25s ease;
	}
	
	&:hover {
		
		.text {
			opacity: 1;
			width: 80px;
			padding-left: 25px;
		}
		
		.icon {
			font-size: 42px;
		}
	}
	
	&:active {
		box-shadow: 0 2px 8px rgba(0,0,0,0.4);
		bottom: 18px;
	}
}


#header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	z-index: 750;
	
	& > div {
		
		&.staroftheshow {
			flex-grow: 2;
			flex-shrink: 3;
			flex-basis: 68vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			background: url('/img/star-pic.jpg') no-repeat 50% 0;
			background-size: cover;
			overflow: hidden;
			
			@include responsive(tablet) {
				background-position: 55% 0;
			}
			
			@include responsive(smartphone) {
				background-position: 68% 0;
			}
			
			h1 {
				color: $color-grey;
				font-family: $font-body;
				font-size: 3.6em;
				font-weight: 500;
				line-height: 1.2;
				text-align: center;
				margin-bottom: 0;
				
				@include responsive(smartphone) {
					font-size: 3em;
				}
				
				span {
					display: block;
					animation-name: fadeInUp;
					animation-timing-function: cubic-bezier(0.6,0,0.4,1);
					animation-duration: 0.4s;
					animation-fill-mode: forwards;
					opacity: 0;
					
					&:first-child {
						animation-delay: 1s;
					}
					
					&.logo {
						padding: 30px 0;
						
						@include responsive(smartphone) {
							padding: 14px 0;
						}
					}
					
					&:last-child {
						animation-delay: 1.25s;
					}
				}
			}
		}
		
		&.invitation {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 32vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: $color-main;
			
			p {
				font-size: 2.4em;
				color: #fff;
				animation-name: fadeIn;
				animation-timing-function: cubic-bezier(0.6,0,0.4,1);
				animation-delay: 0.8s;
				animation-duration: 0.4s;
				animation-fill-mode: forwards;
				opacity: 0;
				
				@include responsive(tablet) {
					text-align: center;
					font-size: 2em;
					padding: 0 20px;
				}
			}
			
			.calltoaction {
				animation-name: fadeIn;
				animation-timing-function: cubic-bezier(0.6,0,0.4,1);
				animation-delay: 0.9s;
				animation-duration: 0.4s;
				animation-fill-mode: forwards;
				opacity: 0;
				
				a.btn {
					font-size: 1.4em;
					line-height: 1.2857;
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					
					@include responsive(smartphone) {
						font-size: 1.3em;
					}
				}
			}
		}
	}
}

#main {
	position: relative;
	height: 550vh;
	z-index: 500;
	
	.scroll-target {
		background: transparent;
		width: 100vh;
		height: 100vh;
		z-index: 0;
	}
	
	.map {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		transition: width 0.25s 0.2s;
		z-index: 500;
		
		&.fixed {
			position: fixed;
		}
		
		canvas {
			width: 100% !important;
			height: 100% !important;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
		}
			
		.graphics {
			position: absolute;
			top: -600px;
			left: -100px;
			
			.polygon {
				fill: $color-dark-blue;
				
				&.sweden {
					fill: lighten($color-dark-blue, 5%);
				}
				
				&.germany {
					fill: lighten($color-dark-blue, 5%);
				}
				
				&.mexico {
					fill: lighten($color-dark-blue, 5%);
				}
			}
			
			
		}
		
		.locator {
			opacity: 0;
			width: 10px;
			height: 10px;
			background-color: $color-main;
			position: fixed;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			margin: -5px 0 0 -5px;
			z-index: 20;
			transition: left 0.25s ease, opacity 0.2s ease;
			
			&:after {
				content: "";
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				position: absolute;
				top: -15px;
				left: -15px;
				background-color: $color-main;
				opacity: 0;
				transform: scale(0);
				transition: transform 0.25s ease, opacity 0.25s ease-in-out;
			}
			
			&.active {
				
				&:after {
					transform: scale(1);
					opacity: 0.3;
				}
			}
			
			.morph-content {
				transition: opacity 0.4s 0.1s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, right 0.4s 0.1s, background-color 0.4s 0.1s;
				transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				background-color: $color-main;
				z-index: 900;
				opacity: 0;
				width: 10px;
				height: 10px;
				pointer-events: none;
				position: fixed;
				box-shadow: 0 0 16px rgba(0,0,0,0.2);
				
				& > div {
					width: 100%;
					height: 100%;
					visibility: hidden;
				    opacity: 0;
				    transition: opacity 0.1s, visibility 0s 0.1s;
				    display: flex;
					flex-direction: column;
					align-items: stretch;
					position: absolute;
					top: 0;
					left: 0;
					
					&.cuernavaca {
						
						.header {
							background-image: linear-gradient(lighten($color-dark-blue, 60%), $color-dark-blue 70%), url('/img/cuernavaca.jpg');
						}
					}
					
					&.norrkoping {
						
						.header {
							background-image: linear-gradient(lighten($color-dark-blue, 60%), $color-dark-blue 70%), url('/img/norrkoping.jpg');
						}
					}
					
					&.stockholm {
						
						.header {
							background-image: linear-gradient(lighten($color-dark-blue, 60%), $color-dark-blue 70%), url('/img/stockholm.jpg');
						}
					}
					
					&.uppsala {
						
						.header {
							background-image: linear-gradient(lighten($color-dark-blue, 60%), $color-dark-blue 70%), url('/img/uppsala.jpg');
						}
					}
					
					&.munich {
						
						.header {
							background-image: linear-gradient(lighten($color-dark-blue, 60%), $color-dark-blue 70%), url('/img/munich.jpg');
						}
					}
				    
				    .header {
					    display: flex;
					    flex-direction: column;
					    justify-content: flex-end;
					    flex: 0 0 40vh;
					    width: 100%;
						padding: 20px;
						vertical-align: bottom;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: cover;
						background-blend-mode: multiply;
						box-sizing: border-box;
						
						.years {
							color: #fff;
							font-family: $font-heading;
							@include scaleFont(1.6em);
							letter-spacing: 0.1em;
							margin:0 0 0.4em 0;
							text-align: left;
						}
						
						h2 {
							margin: 0;
							text-align: left;
							color: #fff;
							@include scaleFont(2.8em);
						}
						
						@include responsive(tablet) {
							flex-basis: auto;	
						}
				    }
				    
				    .location-info {
					    flex: 2 0 auto;
					    padding: 20px;
					    box-sizing: border-box;
					    
					    p {
						    @include scaleFont(1.5em);
					    }
					    
					    @include responsive(smartphone) {
						    padding: 15px;
					    }
				    }
				    
				    .location-footer {
					    flex: 0 0 auto;
					    padding: 0 20px 20px 20px;
					    
					    @include responsive(smartphone) {
						    padding: 0 15px 15px 15px;
					    }
					    
					    .next-location {
						    display: block;
						    width: 100%;
						    align-self: flex-end;
						    
						    @include responsive(smartphone) {
							    font-weight: 500;
						    }
					    }
				    }
				}
			}
			
			&.open {
				left: calc(50% - 180px);
				transition: left 0.25s;
				
				@include responsive(minipc) {
					left: calc(50% - 150px);	
				}
				
				@include responsive(tablet) {
					left: 50%;
					top: calc(50% - 200px);	
				}
				
				.morph-content {
					top: 0 !important;
					right: 0 !important;
					width: 360px;
					height: 100%;
					overflow: auto;
					opacity: 1;
					background-color: #fff;
					pointer-events: auto;
					-webkit-backface-visibility: hidden;
					transition: opacity 0.3s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, right 0.4s 0.1s, background-color 0.4s;
					
					& > div {
						overflow: auto;
					}
					
					@include responsive(minipc) {
						width: 300px;	
					}
					
					@include responsive(tablet) {
						width: 100%;
						height: 400px;
						top: calc(100vh - 400px) !important;	
					}
				}
				
				&.cuernavaca {
					
					.morph-content > div.cuernavaca {
						visibility: visible;
						opacity: 1;
						transition: opacity 0.3s 0.5s;
					}
				}
				
				&.norrkoping {
					
					.morph-content > div.norrkoping {
						visibility: visible;
						opacity: 1;
						transition: opacity 0.3s 0.5s;
					}
				}
				
				&.stockholm {
					
					.morph-content > div.stockholm {
						visibility: visible;
						opacity: 1;
						transition: opacity 0.3s 0.5s;
					}
				}
				
				&.uppsala {
					
					.morph-content > div.uppsala {
						visibility: visible;
						opacity: 1;
						transition: opacity 0.3s 0.5s;
					}
				}
				
				&.munich {
					
					.morph-content > div.munich {
						visibility: visible;
						opacity: 1;
						transition: opacity 0.3s 0.5s;
					}
				}
			}
		}
		
		&.open {
			width: calc(100vw - 360px);
			transition: width 0.25s;
			
			@include responsive(minipc) {
				width: calc(100vw - 300px);
			}
			
			@include responsive(tablet) {
				width: 100%;
				height: calc(100vh - 400px);
				transition: height 0.25s;
			}
		}
	}
}

.index-footer {
	z-index: 1000;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: darken($color-dark-blue, 5%);
	
	.logo {
		padding-bottom: 30px;
	}
	
	p {
		font-size: 3.6em;
		text-align: center;
		color: $color-main;
		max-width: 100%;
		
		@include responsive(tablet) {
			font-size: 2.6em;
		}
		
		@include responsive(smartphone) {
			font-size: 1.8em;
		}
	}
	
	ul {
		padding: 0;
		list-style: none;
		text-align: center;
		margin-bottom: 0;
		
		li {
			display: inline-block;
			margin: 0 8px;
			
			a {
				font-family: $font-heading;
				font-weight: 400;
				display: block;
				color: #fff;
				background-color: lighten($color-dark-blue, 5%);
				padding: 0.6em 1.2em;
				border-radius: 3px;
				
				&:hover {
					background-color: lighten($color-dark-blue, 10%);
				}
				
				@include responsive(smartphone) {
					padding: 0.6em 1em;
				}
			}
		}
	}
}


.nicer-splash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1500;
	background-color: #fff;
	pointer-events: none;
	animation-delay: 1s;
	animation-name: splashOverlay;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	
	@include responsive(minipc) {
		display: none;
	}
	
	.logo {
		position: absolute;
		display: block;
		width: 440px;
		top: 50%;
		left: 50%;
		margin: -60px 0 0 -220px;
		animation-delay: 0.5s;
		animation-name: splashLogo;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		
		@include responsive(tablet) {
			margin: -49px 0 0 -180px;
		}
		
		@include responsive(smartphone) {
			margin: -40px 0 0 -145px;
		}
		
		.svg-logo {
			width: 100%;
			height: auto;
			
			.letter {
				fill: $color-main;
			}
		}
	}
}


.scroll-icon {
	display: none;
	z-index: 999;
	position: fixed;
	left: 4vw;
	bottom: 4vw;
	width: 40px;
	height: 70px;
	box-shadow: inset 0 0 0 1px darken($color-dark-blue, 5%);
	border-radius: 25px;
	
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		width: 8px;
		height: 8px;
		background: darken($color-dark-blue, 5%);
		margin-left: -4px;
		top: 8px;
		border-radius: 4px;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-name: scroll;
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}
  

.credits {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 755;
	
	.credit-toggle {
		font-size: 1.8em;
		line-height: 30px;
		padding: 0;
		width: 30px;
		border-radius: 0;
		box-shadow: none;
		color: rgba($color-main, 0.5);
		
		&:hover,
		&:focus {
			background-color: transparent;
			color: $color-main;
		}
	}
	
	.credit-dropdown {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 200px;
		background-color: #fff;
		border-radius: 3px;
		padding: 1.4em;
		box-shadow: 0 4px 12px rgba(0,0,0,0.25);
		
		&:hover,
		&:active,
		&:focus {
			display: block;
		}
		
		p {
			font-size: 1.3em;
			text-align: left;
			color: $color-grey;
		}
	}
	
	.credit-toggle:focus + .credit-dropdown {
		display: block;
	}
	
	@include responsive(tablet) {
		.credit-toggle:hover + .credit-dropdown {
			display: block;
		}
	}
}


@keyframes splashLogo {
	
	0% {
		opacity: 1;
		width: 440px;
		top: 50%;
		margin: -60px 0 0 -220px;
	}
	100% {
		opacity: 0;
		width: 375px;
		top: 30%;
		margin: -51px 0 0 -187.5px;
	}
	
}

@keyframes splashOverlay {
	
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
	
}