
body {
	background-color: #fff;
}

.navigation {
	position: fixed;
	top: 15px;
	left: 20px;
	z-index: 100;
	
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	
	.burger {
		float: left;
		width: 40px;
		height: 39px;
		position: relative;
		cursor: pointer;
		transition: all 0.5s ease;
		
		span {
			display: block;
			width: 28px;
			height: 3px;
			background-color: $color-main;
			position: absolute;
			top: 18px;
			left: 6px;
			transition: all 0.5s ease;
			
			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background-color: $color-main;
				position: absolute;
				top: -8px;
				left: 0;
				transition: all 0.5s ease;
			}
			
			&:after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background-color: $color-main;
				position: absolute;
				bottom: -8px;
				left: 0;
				transition: all 0.5s ease;
			}
		}
		
		&:hover {
			
			span,
			span:before,
			span:after {
				background-color: darken($color-main, 20%);
			}
		}
		
		&.active {
			
			span {
				transform: translateX(-10px);
				background-color: transparent;
				
				&:before {
					transform: rotate(135deg);
					top: 0;
				}
				
				&:after {
					transform: rotate(-135deg);
					bottom: 0;
				}
			}
		}
	}
	
	.logo {
		width: 0;
		height: 39px;
		float: left;
		transition: width 0.25s ease-in-out;
		position: relative;
		overflow: hidden;
		
		.svg-logo {
			max-width: none;
			width: 110px;
			height: 30px;
			position: absolute;
			top: 4px;
			left: 0;
			opacity: 0;
			transition: opacity 1s ease-in-out;
		}
	}
	
	ul {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0 0 0 22px;
		float: left;
		font-size: 1.6em;
		line-height: 39px;
		font-family: $font-heading;
		animation-name: navVisibility;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		
		li {
			margin: 0;
			float: left;
			margin-right: 10px;
			
			a {
				display: block;
				padding: 0 12px;
				
				&:hover {
					color: darken($color-main, 20%);
				}
			}
		}
	}
	
	&.visible {
		
		.burger {
			width: 0;
			opacity: 0;
			
			span {
				width: 0;
			}
		}
		
		.logo {
			width: 110px;
			
			.svg-logo {
				opacity: 1;
			}
		}
		
		ul {
			display: block;
		}
	}
	
	&.end {
		animation-name: navDisappear;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	
	&.scroll {
		animation-name: navDisappear;
		animation-duration: 0.5s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		animation-direction: reverse;
	}
}

.logo {
	display: block;
	width: 100%;
	max-width: 440px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
	line-height: 0;
	color: transparent;
	
	.svg-logo {
		max-width: 100%;
		height: auto;
		overflow: visible;
		
		.letter {
			fill: $color-main;
		}
		
		.left-half {
			transform-origin: 50% 50% 0;
			animation-name: leftFadeIn;
			animation-duration: 2s;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}
		
		.right-half {
			transform-origin: 50% 50% 0;
			animation-name: rightFadeIn;
			animation-duration: 2s;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}
		
		.the-s {
			transform-origin: 50% 50% 0;
			transform: rotate(-45deg);
			animation-name: rotateFadeIn;
			animation-duration: 2s;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}
	}
}


.back-to-top {
	display: none;
	position: fixed;
	right: 15px;
	bottom: 20px;
	background-color: $color-main;
	height: 60px;
	border-radius: 30px;
	box-shadow: 0 6px 16px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: all 0.25s ease;
	
	.text {
		display: block;
		font-family: $font-heading;
		font-size: 1.5em;
		line-height: 60px;
		color: #fff;
		opacity: 0;
		width: 0;
		padding: 0;
		overflow: hidden;
		float: left;
		transition: opacity 0.5s ease-in-out, width 0.25s ease, padding 0.25s ease;
	}
	
	.icon {
		display: block;
		float: right;
		width: 60px;
		font-size: 32px;
		line-height: 60px;
		color: #fff;
		text-align: center;
		transition: font-size 0.25s ease;
	}
	
	&:hover {
		
		.text {
			opacity: 1;
			width: 80px;
			padding-left: 25px;
		}
		
		.icon {
			font-size: 42px;
		}
	}
	
	&:active {
		box-shadow: 0 2px 8px rgba(0,0,0,0.4);
		bottom: 18px;
	}
}


#header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	//background-color: $color-main;
	background: linear-gradient(to bottom, lighten($color-dark-blue, 15%) 0%, $color-main 100%);
	overflow: hidden;
	
	&.inner {
		height: auto;
		
		.header-top {
			padding-top: 30px;
			
			.logo {
				display: block;
				max-width: 110px;
				margin: 0 auto;
				padding-bottom: 10px;
				
				.svg-logo {
					max-width: 100%;
					height: auto;
					
					.letter {
						fill: #fff;
					}
				}
				
				&:hover,
				&:focus {
					opacity: 0.8;
				}
			}
			
			.nav {
				position: static;
				display: flex;
				justify-content: center;
				
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					float: left;
					font-size: 1.6em;
					line-height: 39px;
					font-family: $font-heading;
					display: flex;
					justify-content: center;
					
					li {
						margin-bottom: 0;
						
						a {
							color: rgba(255,255,255,0.8);
							display: block;
							padding: 0 12px;
							
							&:hover,
							&:focus {
								color: #fff;
							}
						}
						
						&.active {
							
							a {
								color: #fff;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
		
		.page-title {
			padding: 74px 15px 0 15px;
			
			h1 {
				font-family: $font-heading;
				font-size: 4.8em;
				font-weight: 300;
				line-height: 1.2;
				color: #fff;
				text-align: center;
				position: relative;
				margin-bottom: 0;
				padding-bottom: 30px;
			}
		}
	}
	
	& > div {
		
		&.staroftheshow {
			flex-grow: 2;
			flex-shrink: 3;
			flex-basis: 68vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			background: url('/img/star-pic.jpg') no-repeat 50% 0;
			background-size: cover;
			overflow: hidden;
			
			h1 {
				color: $color-grey;
				font-family: $font-body;
				font-size: 3.6em;
				font-weight: 500;
				line-height: 1.2;
				text-align: center;
				margin-bottom: 0;
				
				span {
					display: block;
					animation-name: fadeIn;
					animation-timing-function: cubic-bezier(0.6,0,0.4,1);
					animation-duration: 0.4s;
					animation-fill-mode: forwards;
					opacity: 0;
					
					&:first-child {
						animation-delay: 0.5s;
					}
					
					&.logo {
						padding: 30px 0;
					}
					
					&:last-child {
						animation-delay: 0.7s;
					}
				}
			}
		}
		
		&.invitation {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 32vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: $color-main;
			
			p {
				font-size: 2.4em;
				color: #fff;
				animation-name: fadeIn;
				animation-timing-function: cubic-bezier(0.6,0,0.4,1);
				animation-delay: 0.8s;
				animation-duration: 0.4s;
				animation-fill-mode: forwards;
				opacity: 0;
			}
			
			.calltoaction {
				animation-name: fadeIn;
				animation-timing-function: cubic-bezier(0.6,0,0.4,1);
				animation-delay: 0.9s;
				animation-duration: 0.4s;
				animation-fill-mode: forwards;
				opacity: 0;
				
				a.btn {
					font-size: 1.4em;
					line-height: 1.2857;
					color: #fff;
					text-transform: uppercase;
					letter-spacing: 0.1em;
				}
			}
		}
	}
}

#main {
	position: relative;
	height: 500vh;
	overflow: hidden;
	background-color: darken($color-dark-blue, 5%);
	
	&.inner {
		background-color: #fff;
		height: auto;
		padding: 50px 20px 80px 20px;
		max-width: 1000px;
		margin: 0 auto;
	}
	
	.map {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: darken($color-dark-blue, 5%);
		
		canvas {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
		}
			
		.graphics {
			position: absolute;
			top: -600px;
			left: -100px;
			
			.polygon {
				fill: $color-dark-blue;
				
				&.sweden {
					fill: lighten($color-dark-blue, 5%);
				}
				
				&.germany {
					fill: lighten($color-dark-blue, 5%);
				}
				
				&.mexico {
					fill: lighten($color-dark-blue, 5%);
				}
			}
			
			
		}
		
		.locator {
			width: 10px;
			height: 10px;
			background-color: $color-main;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			z-index: 20;
			
			&:after {
				content: "";
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				position: absolute;
				top: -15px;
				left: -15px;
				background-color: $color-main;
				opacity: 0;
				transform: scale(0);
				transition: transform 0.25s ease, opacity 0.25s ease-in-out;
			}
			
			&.active {
				
				&:after {
					transform: scale(1);
					opacity: 0.3;
				}
			}
			
			/*
			
			&.cuernavaca {
				left: 688px;
				top: 1104px;
			}
			
			&.norrkoping {
				left: 1841px;
				top: 574px;
			}
			
			&.stockholm {
				left: 1863px;
				top: 559px;
			}
			
			&.uppsala {
				left: 1860px;
				top: 548px;
			}
			
			&.munchen {
				left: 1798px;
				top: 744px;
			}
			*/
		}
	}
}

#footer {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: darken($color-dark-blue, 5%);
	
	.logo {
		padding-bottom: 30px;
	}
	
	p {
		font-size: 3.6em;
		text-align: center;
		color: $color-main;
		max-width: 100%;
	}
	
	ul {
		padding: 0;
		list-style: none;
		text-align: center;
		
		li {
			display: inline-block;
			margin: 0 12px;
			
			a {
				font-family: $font-heading;
				font-weight: 400;
				display: block;
				color: #fff;
				background-color: lighten($color-dark-blue, 5%);
				padding: 0.6em 1.2em;
				border-radius: 3px;
				
				&:hover {
					background-color: lighten($color-dark-blue, 10%);
				}
			}
		}
	}
}

#contact-footer {
	background-color: lighten($color-grey, 60%);
	padding: 0 0 3em 0;
	
	.centered {
		max-width: 800px;
		margin: 0 auto;
		
		.given-title {
			overflow: hidden;
			margin-bottom: 2em;
			box-shadow: inset 0 -4px 4px -4px rgba(0,0,0,0.1);
			
			h1 {
				font-weight: 500;
				font-size: 9.2em;
				line-height: 1em;
				text-transform: uppercase;
				margin: 0;
				position: relative;
				top: 0.32em;
				text-align: center;
				
				span {
					position: relative;
					top: -0.2em;
				}
			}
		}
		
		p {
			text-align: center;
		}
	}
}