@import "_includes";

.wrapper.inner {
	
	#header {
		height: auto;
		
		.header-top {
			padding-top: 30px;
			
			.logo {
				display: block;
				max-width: 110px;
				margin: 0 auto;
				padding-bottom: 10px;
				animation-delay: 1s;
				animation-name: fadeIn;
				animation-fill-mode: forwards;
				animation-duration: 1s;
				
				.svg-logo {
					max-width: 100%;
					height: auto;
					
					.letter {
						fill: $color-grey;
						transition: all 0.25s ease-in-out;
					}
				}
				
				&:hover,
				&:focus {
					.svg-logo {
						max-width: 100%;
						height: auto;
						
						.letter {
							fill: $color-main;
						}
					}
				}
			}
			
			.nav {
				position: static;
				display: flex;
				justify-content: center;
				padding-top: 1em;
				
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					float: left;
					font-size: 1.6em;
					line-height: 1.2;
					font-family: $font-heading;
					display: flex;
					justify-content: center;
					
					li {
						margin-bottom: 0;
						margin-left: 4px;
						margin-right: 4px;
						
						a {
							font-weight: 400;
							color: $color-grey;
							display: block;
							padding: 10px 12px;
							transition: color 0.25s ease-in-out;
							
							&:hover,
							&:focus {
								color: $color-main;
							}
						}
						
						&.active {
							
							a {
								color: $color-main;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
}


#main.inner {
	background-color: #fff;
	height: auto;
	padding: 50px 20px 80px 20px;
	max-width: 1000px;
	margin: 0 auto;
	
	@include responsive(tablet) {
		padding: 10% 3.125%;
	}
}

#contact-footer {
	
}




