@import "_includes";

.wrapper.inner {
	
	#header {
		height: auto;
		
		.header-top {
			padding-top: 30px;
			
			.logo {
				display: block;
				max-width: 110px;
				margin: 0 auto;
				margin-bottom: 10px;
				
				.svg-logo {
					max-width: 100%;
					height: 30px;
					
					.letter {
						fill: $color-grey;
						transition: all 0.25s ease-in-out;
					}
				}
				
				&:hover,
				&:focus {
					.svg-logo {
						max-width: 100%;
						height: auto;
						
						.letter {
							fill: $color-main;
						}
					}
				}
			}
			
			.nav {
				position: static;
				display: flex;
				justify-content: center;
				padding-top: 1em;
				
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					float: left;
					font-size: 1.6em;
					line-height: 1.2;
					font-family: $font-heading;
					display: flex;
					justify-content: center;
					
					li {
						margin-bottom: 0;
						margin-left: 4px;
						margin-right: 4px;
						
						a {
							font-weight: 400;
							color: $color-grey;
							display: block;
							padding: 10px 12px;
							transition: color 0.25s ease-in-out;
							
							&:hover,
							&:focus {
								color: $color-main;
							}
						}
						
						&.active {
							
							a {
								color: $color-main;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
}


#main.inner {
	background-color: #fff;
	height: auto;
	padding: 50px 20px;
	max-width: 1000px;
	margin: 0 auto;
	
	@include responsive(tablet) {
		padding: 10% 3.125%;
	}
}

#contact-footer {
	position: relative;
	background-color: lighten($color-grey, 60%);
	
	h1 {
		position: relative;
		text-align: center;
		@include scaleFontManual(3.6em,3.4em,3.2em,2.8em,2.4em);
		line-height: 6;
		color: $color-grey;
		margin-bottom: 0;
		font-weight: 500;
		
		a {
			font-weight: 300;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			display: block;
			background-color: lighten($color-grey, 50%);
			color: $color-main;
			transition: top 0.25s ease-in-out, background 0.25s ease-in-out, color 2s ease;
		}
		
		&:hover a,
		a:focus {
			top: 0;
			background-color: $color-main;
			color: #fff;
		}
		
		@media (max-width: 768px) {
			
			a {
				top: 0;
				background-color: transparent;
				color: transparent;
			}
		}
	}
}




