@import "_includes";

.wrapper.inner {
	
	#header {
		height: auto;
		
		.header-top {
			padding-top: 30px;
			
			.logo {
				display: block;
				max-width: 110px;
				margin: 0 auto;
				padding-bottom: 10px;
				animation-delay: 1s;
				animation-name: fadeIn;
				animation-fill-mode: forwards;
				animation-duration: 1s;
				
				.svg-logo {
					max-width: 100%;
					height: auto;
					
					.letter {
						fill: $color-grey;
						transition: all 0.25s ease-in-out;
					}
				}
				
				&:hover,
				&:focus {
					.svg-logo {
						max-width: 100%;
						height: auto;
						
						.letter {
							fill: $color-main;
						}
					}
				}
			}
			
			.nav {
				position: static;
				display: flex;
				justify-content: center;
				padding-top: 1em;
				
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					float: left;
					font-size: 1.6em;
					line-height: 1.2;
					font-family: $font-heading;
					display: flex;
					justify-content: center;
					
					li {
						margin-bottom: 0;
						margin-left: 4px;
						margin-right: 4px;
						
						a {
							font-weight: 400;
							color: $color-grey;
							display: block;
							padding: 10px 12px;
							transition: color 0.25s ease-in-out;
							
							&:hover,
							&:focus {
								color: $color-main;
							}
						}
						
						&.active {
							
							a {
								color: $color-main;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
}


#main.inner {
	background-color: #fff;
	height: auto;
	padding: 50px 20px 80px 20px;
	max-width: 1000px;
	margin: 0 auto;
	
	@include responsive(tablet) {
		padding: 10% 3.125%;
	}
}

#contact-footer {
	
}

.nicer-splash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #fff;
	pointer-events: none;
	animation-delay: 1s;
	animation-name: splashOverlay;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	
	
	.logo {
		position: absolute;
		display: block;
		width: 440px;
		top: 50%;
		left: 50%;
		margin: -60px 0 0 -220px;
		animation-delay: 0.5s;
		animation-name: splashLogo;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		
		.svg-logo {
			width: 100%;
			height: auto;
			
			.letter {
				fill: $color-main;
				transition: all 0.25s ease-in-out;
				animation-delay: 0.5s;
				animation-name: splashLogoColor;
				animation-duration: 1s;
				animation-fill-mode: forwards;
			}
		}
	}
}


@keyframes splashLogo {
	
	0% {
		opacity: 1;
		width: 440px;
		top: 50%;
		margin: -60px 0 0 -220px;
	}
	100% {
		opacity: 0;
		width: 110px;
		top: 30px;
		margin: -15px 0 0 -55px;
	}
	
}

@keyframes splashLogoColor {
	0% {
		fill: $color-main;
	}
	100% {
		fill: $color-grey;
	}
}

@keyframes splashOverlay {
	
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
	
}




