html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

@import "_includes";
@import "_grid-system";
@import "_template";
@import "_showcase";
@import "_about";
@import "_contact";

::selection { background-color: darken($color-main, 10%); color: #FFF; }
.cf:after {
	content: "";
	display: table;
	clear: both;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-body;
	font-weight: 400;
	color: $color-grey;
}

/* ==== Typography
===================================-------------- */

h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	line-height: 1.2;
	margin: 1.2em 0 0.6em 0;
	
	&:first-child, 
	& + h2,
	& + h3,
	& + h4,
	& + h5 {
		margin-top: 0;
	}
}

h1 {
	font-family: $font-heading;
	@include scaleFont(4.2em);
	line-height: 1.2;
	font-weight: 300;
	color: $color-main;
	margin-bottom: 1em;
}

h2 {
	@include scaleFont(3em);
	font-weight: 400;
	color: $color-main;
}

h3 {
	@include scaleFont(2.6em);
	font-weight: 400;
	color: $color-main;
}

h4 {
	@include scaleFont(2.3em);
	font-weight: 500;
}

h5 {
	@include scaleFont(2em);
	font-weight: 700;
}

p {
	@include scaleFont(1.8em);
	line-height: 1.5;
	margin-bottom: 1em;
	
	&.lead {
		@include scaleFont(2.1em);
	}
	
	&.small-label {
		@include scaleFont(1.5em);
		font-family: $font-heading;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 500;
		margin-bottom: 0.6em;
		color: $color-main;
		padding-top: 0.3em;
		
		@include responsive(smartphone) {
			font-size: 1.8em;
			font-weight: 600;
			margin-bottom: 0.5em;
		}
	}
	
	&:last-child {
		margin-bottom: 0;
	}
	
	a {
		font-weight: 500;
		border-bottom: 1px solid transparent;
		transition: border 0.2s ease, color 0.2s ease;
		
		&:hover,
		&:focus {
			color: $color-main;
			border-bottom-color: $color-main;
		}
	}
}

ol, ul {
	@include scaleFont(1.8em);
	line-height: 1.5;
	margin-bottom: 1em;
	list-style-position: outside;
	padding-left: 1em;
	
	li {
		margin-bottom: 0.5em;
	}
	
	a {
		font-weight: 500;
	}
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

ol ol, ul ul, ol ul, ul ol {
	font-size: 0.92em;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
	font-style: inherit;
}

a {
	text-decoration: none;
	color: $color-main;
	
	&.btn {
		display: inline-block;
		font-family: $font-heading;
		font-size: 1.6rem;
		line-height: 1.125;
		font-weight: 400;
		color: $color-main;
		text-align: center;
		letter-spacing: 0.05em;
		padding: 1em 1.5625em;
		border: none;
		border-radius: 1.5625em;
		box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.3);
		box-sizing: border-box;
		transition: background 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
		
		&:hover,
		&:focus {
			color: #fff;
			background-color: lighten($color-main, 1%);
			box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 2px 4px rgba(0,0,0,0.25);
		}
		
		&:active {
			color: #fff;
			background-color: $color-main;
			box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 0 2px rgba(0,0,0,0.15);
		}
	}
}

button {
	display: inline-block;
	font-family: $font-heading;
	font-size: 1.6em;
	line-height: 1.125;
	font-weight: 400;
	color: $color-main;
	text-align: center;
	letter-spacing: 0.05em;
	background-color: transparent;
	padding: 1em 1.5625em;
	border: none;
	border-radius: 1.5625em;
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.3);
	box-sizing: border-box;
	transition: background 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
	
	&:hover,
	&:focus {
		color: #fff;
		background-color: lighten($color-main, 1%);
		box-shadow: inset 0 1px 1px rgba(255,255,255,0.3), 0 2px 4px rgba(0,0,0,0.25);
		cursor: pointer;
	}
	
	&:active {
		color: #fff;
		background-color: $color-main;
		box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 0 0 2px rgba(0,0,0,0.15);
	}
}

img {
	max-width: 100%;
	vertical-align: top;
}

.nowrap {
	white-space: nowrap;
}



